* {
	font-size: 12px;
	font-family: sans-serif;
}

td {
	vertical-align: top;
	padding: 5px;
}

hr {
	border: none;
	height: 1px;
	color: black;
	background-color: black;
}

#errormsg {
	background-color: pink;
}

#disterrpct {
	width: 225px;
}

